<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961506333448-fsn1v230as195a0ksi694aj4ldvtt58t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961506333448-fsn1v230as195a0ksi694aj4ldvtt58t</string>
	<key>API_KEY</key>
	<string>AIzaSyBdb9cjsMh1ADB2hLqby7vBq00dhAejv04</string>
	<key>GCM_SENDER_ID</key>
	<string>961506333448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-f5464</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-f5464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961506333448:ios:292edb24e3368c784052bd</string>
</dict>
</plist>